$ratio-16-9: (9%/16%*100%);
$ratio-4-3: (3%/4%*100%);
$ratio-1-1: (100%);

// Reflow hack for image height
.embed-container {
    position: relative;

    overflow: hidden;

    height: 0;

    img,
    .element {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }
}

.ratio-16-9 { padding-bottom: $ratio-16-9; }
.ratio-4-3  { padding-bottom: $ratio-4-3;  }
.ratio-1-1  { padding-bottom: $ratio-1-1;  }

// Hack for modal with max-width
// <div class="reveal-modal reveal-modal-alt">
//  <div class="reveal-modal-inner">
//  <!-- usual modal content -->
//  </div>
// </div>
$reveal-fixed-width: $row-width + rem-calc(200) !default;

.reveal-modal-alt {
    padding: 0;

    border: 0;
    background: transparent;
    box-shadow: none;

    .reveal-modal-inner {
        @include reveal-modal-style(
        $bg: $reveal-modal-bg,
        $padding   : $reveal-modal-padding,
        $border    : true,
        $box-shadow: true,
        $radius    : false
        );

        position: relative;

        max-width: $reveal-fixed-width;
        margin: 0 auto;
        @media #{$small-only} {
            min-height: 100vh;
        }
        @media #{$medium-up} {
            @include reveal-modal-style($padding: $reveal-modal-padding * 1.5);
        }
    }
}

// fix for tabs
.tabs-content .content:not(.active) {
    display: none;
}
