@import "settings";
@import "foundation";

.top-bar .name .site-name{
        line-height: $topbar-height;
        font-size: $topbar-title-font-size;
        margin: 0;
        a {
                font-weight: $topbar-title-weight;
                color: $topbar-link-color;
                width: 50%;
                display: block;
                padding: 0 $topbar-link-padding;
        }
}

@media #{$topbar-media-query} {
        .top-bar .name .site-name a { width: auto; }
}

.embed-container {
    position: relative;
    height: 0;
    overflow: hidden;
}

.embed-container img{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
}

.ratio-16-9 { padding-bottom: $ratio-16-9; }
.ratio-4-3  { padding-bottom: $ratio-4-3; }
.ratio-1-1  { padding-bottom: $ratio-1-1; }

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
